---
http_interactions:
- request:
    method: get
    uri: http://holidayapi.com/v1/holidays?country=US&year=1999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"holidays":{"1999-01-01":[{"name":"Last Day of Kwanzaa","country":"US","date":"1999-01-01"},{"name":"New
        Year''s Day","country":"US","date":"1999-01-01"}],"1999-01-06":[{"name":"Epiphany","country":"US","date":"1999-01-06"}],"1999-01-07":[{"name":"Orthodox
        Christmas","country":"US","date":"1999-01-07"}],"1999-01-18":[{"name":"Martin
        Luther King, Jr. Day","country":"US","date":"1999-01-18"}],"1999-02-02":[{"name":"Groundhog
        Day","country":"US","date":"1999-02-02"}],"1999-02-14":[{"name":"Valentine''s
        Day","country":"US","date":"1999-[...]
