---
http_interactions:
- request:
    method: get
    uri: http://holidayapi.com/v1/holidays?country=US&day=1&month=4&year=2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"holidays":[{"name":"April Fools'' Day","country":"US","date":"2004-04-01"}]}'
  recorded_at: Sun, 15 Mar 2015 16:21:52 GMT
recorded_with: VCR 2.9.3
